/* #region GLOBAL*/
@font-face {
  font-family: "Bungee";
  src: url("../fonts/Bungee-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvertaRegular";
  src: url("../fonts/Averta-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvertaBold";
  src: url("../fonts/Averta-Bold.otf") format("truetype");
}
html,
body {
  color: #000;
  font-family: "AvertaRegular", sans-serif;
  margin: 0;
  padding: 0;
  background: #ececec;
}

body * {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: unset;
  display: unset;
  font-family: unset;
  font-size: unset;
  font-weight: unset;
  margin: 0;
  padding: 0;
}

a {
  color: #2a2a2a;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #183885;
  outline: none;
  -webkit-transition: all 100ms ease 0s;
  -moz-transition: all 100ms ease 0s;
  -o-transition: all 100ms ease 0s;
  transition: all 100ms ease 0s;
}
figure {
  margin: 0;
}
p {
  margin: 0;
}
.container-fuild {
  background: rgb(77, 0, 73);
  background: linear-gradient(
    90deg,
    rgba(77, 0, 73, 1) 0%,
    rgba(39, 1, 35, 1) 14%,
    rgba(121, 9, 74, 1) 76%,
    rgba(148, 78, 32, 1) 100%
  );
  height: 100vh;
  width: 100vw;
}
/*#endregion */

/* #region PRIMARY*/
.m-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.box-icon {
  width: 80%;
  height: 80vh;
  background: rgba(0, 0, 0, 0.3);
  margin: 30px auto;
  border-radius: 20px;
}
.box-image {
  width: 300px;
  height: 300px;
  background: red;
  margin: 30px auto;
  border-radius: 20px;
  overflow: hidden;
}
.preview-text {
  text-align: center;
  font-size: 20px;
  color: #fff;
}
.box-input {
  margin: auto;
  padding: 20px;
}
.box-input p {
  color: #fff;
  font-size: 20px;
  font-style: italic;
  margin-bottom: 20px;
}
.box-input-1,
.box-input-2 {
  grid-template-columns: 1fr 1fr;
  grid-gap: 70px;
  margin: 58px 0;
}
.box-input input {
  width: 100%;
  margin: 7px 0;
  color: #fff;
  font-style: italic;
  font-size: 14px;
}
.box-input-2 input {
  padding: 0;
  background: none;
  border: none;
}
.class-icon {
  background: none;
  border: none;
  border-bottom: 1px solid #ffffff6e;
}
.select-shadow {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.select-shadow div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.select-shadow input {
  text-align: left;
}
.box-image i.fa-search {
  margin: auto;
  display: block;
  text-align: center;
  height: 300px;
  line-height: 300px;
  font-size: 180px;
  color: #fff;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272,
    -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a,
    -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585,
    -8px 16px 1px #8b8a89, -9px 18px 1px #8f8e8d, -10px 20px 1px #949392,
    -11px 22px 1px #999897, -12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1,
    -14px 28px 1px #a8a6a6, -15px 30px 1px #adabab, -16px 32px 1px #b2b1b0,
    -17px 34px 1px #b7b6b5, -18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf,
    -20px 40px 1px #c6c4c4, -21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd,
    -23px 46px 1px #d4d2d1, -24px 48px 1px #d8d6d5, -25px 50px 1px #dbdad9,
    -26px 52px 1px #dfdddc, -27px 54px 1px #e2e0df, -28px 56px 1px #e4e3e2,
    -29px 58px 1px #e7e5e4, -30px 60px 1px #eae9e8, -31px 62px 1px #ecebea,
    -32px 64px 1px #efeeed, -33px 66px 1px #f1f0ee, -34px 68px 1px #f3f2f1,
    -35px 70px 1px #f5f4f3, -36px 72px 1px #f7f6f5, -37px 74px 1px #f9f8f7,
    -38px 76px 1px #fbfaf9, -39px 78px 1px #fdfcfb, -40px 80px 1px #fefdfd,
    -41px 82px 1px rgba(254, 254, 254, 0), -42px 84px 1px rgba(254, 254, 254, 0), -43px 86px 1px rgba(254, 254, 254, 0),
    -44px 88px 1px rgba(254, 254, 254, 0), -45px 90px 1px rgba(254, 254, 254, 0), -46px 92px 1px rgba(254, 254, 254, 0),
    -47px 94px 1px rgba(254, 254, 254, 0), -48px 96px 1px rgba(254, 254, 254, 0), -49px 98px 1px rgba(254, 254, 254, 0),
    -50px 100px 1px rgba(254, 254, 254, 0), -51px 102px 1px rgba(254, 254, 254, 0), -52px 104px 1px rgba(254, 254, 254, 0),
    -53px 106px 1px rgba(254, 254, 254, 0), -54px 108px 1px rgba(254, 254, 254, 0), -55px 110px 1px rgba(254, 254, 254, 0),
    -56px 112px 1px rgba(254, 254, 254, 0), -57px 114px 1px rgba(254, 254, 254, 0), -58px 116px 1px rgba(254, 254, 254, 0),
    -59px 118px 1px rgba(254, 254, 254, 0), -60px 120px 1px rgba(254, 254, 254, 0), -61px 122px 1px rgba(254, 254, 254, 0),
    -62px 124px 1px rgba(254, 254, 254, 0), -63px 126px 1px rgba(254, 254, 254, 0), -64px 128px 1px rgba(254, 254, 254, 0),
    -65px 130px 1px rgba(254, 254, 254, 0), -66px 132px 1px rgba(254, 254, 254, 0), -67px 134px 1px rgba(254, 254, 254, 0);
}
.select-shadow span {
  color: #fff;
  padding-top: 5px;
}
/*#endregion */
